/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/ 


:root {
    --white: #ffffff;
    --lighter-grey: #d0d1cd;
    --light-grey: #7d7d7d;
    --grey: #525252;
    --dark-grey: #383838;
    --black: #000000;
    --red: #973f3f;
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: var(--black);
}

header {
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    background-image: url(../img/img_arriere_plan/title_screen.jpg);
    color: var(--white);
}

h1 {
    position: relative;
    text-align: center;
    font-family: 'Overlock', sans-serif;
    top: 10vh;
    font-size: 2vw;
    margin: 0;
    color: var(--red);
    
}

footer {
    text-align: center;
    font-family: 'PT serif', sans-serif;
    font-size: 11px;
    color: var(--white);
    padding: 5px;
    
}

.paragraphe {
    position: absolute;
    text-align: center;
    font-family: 'PT serif', sans-serif;
    font-size: 0.75vw;
    top: 40vh;
    left: 3vw;
    color: var(--red);
    
}

.CTA {
    position: absolute;
    left: 50vw;
    top: 90vh;
    
}



.balise {
    height: 50vh;
    
}


.spritesheet1 {
    width: 10vw;
    aspect-ratio: 1/1;
    background-image: url(../img/img_elements_visuels/spritesheet_grossit.png);
    position: absolute;
    top: 20vh;
    left: 45vw;
    animation-name: boule1;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(24);
    animation-play-state: paused;
    background-size: 2400% 100%;
    
}

.spritesheet2 {
    width: 10vw;
    aspect-ratio: 1/1;
    background-image: url(../img/img_elements_visuels/spritesheet_eclat.png);
    position: absolute;
    top: 50vh;
    left: 50vw;
    animation-name: boule2;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(24);
    animation-play-state: paused;
    background-size: 2400% 100%;
    
}



@keyframes boule1 {
    from {background-position: 0 0;}
    to {background-position: -2400% 0;}
}

ul.technique-gsap{
    background: rgba(0,0,0,0.3);
    color: white;
    font-size: 10px;
    font-family: monospace;
    font-weight: 400;
    width: auto;
    display: none;
    padding: 10px 20px 12px 20px;
    margin: 0;
    max-width: 300px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

ul.technique-gsap li{
    margin: 5px 0;
}

@media screen and (max-aspect-ratio: 16/9) {
    .screen {
        height: auto;
        width: 100vw;
    }
}

@media screen and (min-aspect-ratio: 16/9){
    .screen {
        height: 100vh;
        width: auto;
    }
}

/*---------------------------------------------------------- 
# Chapitre 1
----------------------------------------------------------*/ 
#chapitre1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-color: var(--black);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#evS3lUG4hVd1 {
    position: absolute;
    top: 0vh;
    left: 30vw;
    width: 40vw;
}

#ehE8HkQ1myA1 {
    position: absolute;
    width: 40vw;
    top: 25vh;
    left: 30vw;
}


#madame {
    visibility: hidden;
    
}

#template,
#path {
    fill: none;
}

#template {
    stroke-width: 1px;
    stroke: var(--dark-grey);
}

#path {
    stroke: var(--red);
    stroke-width: 20px;
    stroke-dashoffset: 0.001;
    stroke-dasharray: 0px, 999999px;
}


/*---------------------------------------------------------- 
# Chapitre 2
----------------------------------------------------------*/ 
#chapitre2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_ciel_chapitre_1.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.personnage2 {
    position: absolute;
    width: 15vw;
    top: 0vh;
    left: 40vw;
    
    
}

.texte_chapitre_2 {
    position: absolute;
    font-family: 'PT serif', sans-serif;
    font-size: 0.8vw;
    color: var(--white);
    right: 0vw;
}

#courbe {
    position: absolute;
    display: block;
}

/*---------------------------------------------------------- 
# Chapitre 3
----------------------------------------------------------*/ 
#chapitre3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_foret_chapitre_8.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.personnage3 {
    position: absolute;
    width: 9vw;
    bottom: 7vh;
    left: 1vw;
    
    
}

.monstre_chapitre_3 {
    position: absolute;
    width: 20vw;
    left: 40vw;
    
    
}

.texte_chapitre_3 {
    position: absolute;
    font-family: 'PT serif', sans-serif;
    font-size: 0.8vw;
    color: var(--white);
    right: 3vw;
    top: 40vh;
}

/*---------------------------------------------------------- 
# Chapitre 4
----------------------------------------------------------*/ 
#chapitre4 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_vide_noir_chapitre_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.personnage4 {
    position: absolute;
    width: 9vw;
    bottom: 9vh;
    left: 1vw;
    
}

.monstre_chapitre_4 {
    position: absolute;
    width: 20vw;
    left: 40vw;
    top: 3vh;
    
}

.texte_chapitre_4 {
    position: absolute;
    font-family: 'PT serif', sans-serif;
    font-size: 0.65vw;
    color: var(--white);
    right: 1vw;
}

/*---------------------------------------------------------- 
# Chapitre 5
----------------------------------------------------------*/ 
#chapitre5 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_foret_chapitre_4.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.personnage5 {
    position: absolute;
    width: 5vw;
    bottom: 9vh;
    left: 1vw;
    
    
}

.monstre_chapitre_5 {
    position: absolute;
    width: 25vw;
    right: 25vw;
    top: 25vh;
    
}

.texte_chapitre_5 {
    position: absolute;
    font-family: 'PT serif', sans-serif;
    font-size: 1vw;
    color: var(--black);
    right: 30vw;
}

/*---------------------------------------------------------- 
# Chapitre 6
----------------------------------------------------------*/ 
#chapitre6 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_foret_chapitre_5.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.personnage6 {
    position: absolute;
    width: 10vw;
    bottom: 1vh;
    left: 40vw;
    
}

.texte_chapitre_6 {
    position: absolute;
    font-family: 'PT serif', sans-serif;
    font-size: 1vw;
    color: var(--white);
    right: 35vw;
    top: 1vh;
}

/*---------------------------------------------------------- 
# Chapitre 7
----------------------------------------------------------*/ 
#chapitre7 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_vide_chapitre_6.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.personnage7 {
    position: absolute;
    width: 7.5vw;
    bottom: 9vh;
    left: 40vw;
    
}

.oeil_1 {
    position: absolute;
    width: 11vw;
    left: 40vw;
    top: 5vh;
    
}

.oeil_2 {
    position: absolute;
    width: 11vw;
    left: 25vw;
    top: 20vh;
    
}

.oeil_3 {
    position: absolute;
    width: 11vw;
    left: 15vw;
    top: 40vh;
    
}

.oeil_4 {
    position: absolute;
    width: 11vw;
    right: 7.5vw;
    top: 5vh;
    
    
}

.oeil_5 {
    position: absolute;
    width: 11vw;
    right: 26vw;
    top: 25vh;
    

}

.oeil_6 {
    position: absolute;
    width: 11vw;
    left: 7.5vw;
    top: 5vh;
    
}

.oeil_7 {
    position: absolute;
    width: 11vw;
    right: 7.5vw;
    bottom: 20vh;
    
}

.texte_chapitre_7 {
    position: absolute;
    font-family: 'PT serif', sans-serif;
    font-size: 0.8vw;
    color: var(--white);
    right: 15vw;
}

/*---------------------------------------------------------- 
# Chapitre 8
----------------------------------------------------------*/ 
#chapitre8 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_foret_arbre_loin__chapitre_2.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.texte_chapitre_8 {
    position: absolute;
    font-family: 'PT serif', sans-serif;
    font-size: 1vw;
    color: var(--red);
    right: 42.5vw;
    z-index: 1;
}

#milieu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100vw;
    
}

#proche {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -200vw;
}



/*---------------------------------------------------------- 
# Chapitre 9
----------------------------------------------------------*/ 
#chapitre9 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_foret_chapitre_8.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.personnage9 {
    position: absolute;
    width: 13.5vw;
    left: 7.5vw;
    bottom: 1vh;
    
}

.texte_chapitre_9 {
    position: absolute;
    font-family: 'PT serif', sans-serif;
    font-size: 1vw;
    color: var(--red);
    right: 30vw;
    top: 10vh;
}


