:root {
    --white: #ffffff;
    --lighter-grey: #d0d1cd;
    --light-grey: #7d7d7d;
    --grey: #525252;
    --dark-grey: #383838;
    --black: #000000;
    --red: #973f3f;
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: var(--black);
}

header {
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    background-image: url(../img/img_arriere_plan/title_screen.jpg);
    color: var(--white);
}

h1 {
    text-align: center;
    margin: 0;
    font-family: 'Overlock', sans-serif;
    height: 50vh;
}

footer {
    text-align: center;
    font-family: 'PT serif', sans-serif;
    font-size: 11px;
    color: var(--white);
    
}



.paragraphe {
    text-align: center;
    font-family: 'PT serif', sans-serif;
    font-size: 11px;
}

.CTA {
    text-align: center;
    padding: 25vh;
}

#chapitre1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-color: var(--black);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    
}

.irish-titre {
    position: absolute;
    width: 50vw;
    top: 5vh;
    left: 25vw;
    border: 1px solid rgba(218, 0, 0, 0.5);
    
}

.lettre {
    position: absolute;
    width: 25vw;
    height: 25vh;
    left: 9.5%;
    top: 19%;
    border: 1px solid rgba(218, 0, 0, 0.5);
}

.titre-reste {
    position: absolute;
    color: var(--white);
    font-size: 150px;
    top: 13.5vh;
    left: 24vw;
    border: 1px solid rgba(218, 0, 0, 0.5);
}

.personnage1 {
    position: absolute;
    width: 10vw;
    top: 40vh;
    left: 15vw;
    border: 1px solid rgba(218, 0, 0, 0.5);
    
}

#chapitre2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_ciel_chapitre_1.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
   
}

.personnage2 {
    position: absolute;
    width: 15vw;
    top: 0vh;
    left: 40vw;
    border: 1px solid rgba(218, 0, 0, 0.5);
    
}

#chapitre3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_foret_arbre_loin__chapitre_2.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    
}

.personnage3 {
    position: absolute;
    width: 9vw;
    bottom: 1vh;
    left: 1vw;
    border: 1px solid rgba(218, 0, 0, 0.5);
}

.monstre_chapitre_3 {
    position: absolute;
    width: 20vw;
    left: 40vw;
    border: 1px solid rgba(218, 0, 0, 0.5);
}

#chapitre4 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_vide_noir_chapitre_3.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    
}

.personnage4 {
    position: absolute;
    width: 9vw;
    bottom: 1vh;
    left: 1vw;
    border: 1px solid rgba(218, 0, 0, 0.5);
}

.monstre_chapitre_4 {
    position: absolute;
    width: 20vw;
    left: 40vw;
    top: 3vh;
    border: 1px solid rgba(218, 0, 0, 0.5);
}

#chapitre5 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_foret_chapitre_4.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    
}

.personnage5 {
    position: absolute;
    width: 5vw;
    bottom: 25vh;
    left: 1vw;
    border: 1px solid rgba(218, 0, 0, 0.5);
    
}

.monstre_chapitre_5 {
    position: absolute;
    left: 50vw;
    top: 5vh;
    border: 1px solid rgba(218, 0, 0, 0.5);
}

#chapitre6 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_foret_chapitre_5.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    
}

.personnage6 {
    position: absolute;
    width: 10vw;
    bottom: 1vh;
    left: 40vw;
    border: 1px solid rgba(218, 0, 0, 0.5);
}

#chapitre7 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_vide_chapitre_6.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    
}

.personnage7 {
    position: absolute;
    width: 7.5vw;
    bottom: 1vh;
    left: 35vw;
    border: 1px solid rgba(218, 0, 0, 0.5);
}

.oeil_1 {
    position: absolute;
    width: 11vw;
    left: 40vw;
    top: 5vh;
    border: 1px solid rgba(218, 0, 0, 0.5);
}

.oeil_2 {
    position: absolute;
    width: 11vw;
    left: 25vw;
    top: 20vh;
    border: 1px solid rgba(218, 0, 0, 0.5);
}

.oeil_3 {
    position: absolute;
    width: 11vw;
    left: 15vw;
    top: 40vh;
    border: 1px solid rgba(218, 0, 0, 0.5);
}

.oeil_4 {
    position: absolute;
    width: 11vw;
    right: 7.5vw;
    top: 5vh;
    border: 1px solid rgba(218, 0, 0, 0.5);
    
}

.oeil_5 {
    position: absolute;
    width: 11vw;
    right: 26vw;
    top: 25vh;
    border: 1px solid rgba(218, 0, 0, 0.5);

}

.oeil_6 {
    position: absolute;
    width: 11vw;
    left: 7.5vw;
    top: 5vh;
    border: 1px solid rgba(218, 0, 0, 0.5);
}

.oeil_7 {
    position: absolute;
    width: 11vw;
    right: 7.5vw;
    bottom: 20vh;
    border: 1px solid rgba(218, 0, 0, 0.5);
}

#chapitre8 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_foret_chapitre_7.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    
}

#chapitre9 {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: red 1px;
    background-image: url(../img/img_arriere_plan/background_foret_chapitre_8.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}